:root{
    --primary-font:'Roboto', sans-serif ;
    --second-font: 'Raleway' , sans-serif ;
    --accent-color: #2196F3;
}
body{font-family: 'Roboto' , sans-serif;
    font-size: 14px;
    color: #212121;
    
}
img { display: block;}

button{ cursor: pointer;
    font-family: inherit; 
}

h1,
h2,
h3,
p{
margin-top: 0;
margin-bottom: 0;
}
.container {
    width: 1200px; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right:15px;
}
ul,
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
}
.list { 
    list-style: none;}


.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    letter-spacing: 0.03em;
    color: var(--accent-color);}

.logo-header {
    color: #212121;
}
.page-heder-container {
display: flex;
}
.page-heder{
    background-color: #FFFFFF;
}

.index.html{
color: var(--accent-color);
}

.menu-link{  
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}
.contact-mail-numbre,
.contact-phone-numbre
{
font-weight: 500;

line-height: 1.14;
letter-spacing: 0.02em;

color: #757575;
}


.contact-mail-numbre:hover,
.contact-mail-numbre:focus,
.contact-phone-numbre:hover,
.contact-phone-numbre:focus,
.menu-link:hover,
.menu-link :focus{
 color: var(--accent-color);
}

.text1{
    background-color: #2F303A;
}
.decision{
  background-color: #2F303A;  
}
.title { 
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
   }

.model-open-btn{
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
}
   .model-open-btn:hover
   .model-open-btn:focus
   {background: var(--primary-font);
    color: #FFFFFF;}

   .text-main 
   {background-color: #F5F5F5;}
    
   .skills1{
   background-color: #F5F5F5;
   }
   .text {
font-size: 14px;
font-weight: 700;
line-height: 1.875;
text-transform: uppercase;
 }

   .menu-text {
font-family: var(--primary-font);

line-height: 1.555;
color: #757575;
 }

.technologies-numbr{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
   }
   
   .team1
   {
    background-color: #F5F4FA;
   }
   .team{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;

   }


.name {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
}

.professio{
font-weight: 400;
font-size: 16px;
line-height: 1.18;
text-align: center;
color: #757575;
}

.logo2{ 
    background-color: #2F303A;}
.logo-header-2{
    color: #FFFFFF;
}

.location {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: #FFFFFF;
     
}
.contact-mail{
font-style: normal;
font-weight: 400;
line-height: 1.71;
color: rgba(255, 255, 255, 0.6);
}
.contact-phone{
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; 
    color: rgba(255, 255, 255, 0.6);

}
