:root{
    --primary-font:'Roboto', sans-serif ;
    --second-font: 'Raleway' , sans-serif ;
    --accent-color: #2196F3;
}
body{font-family: 'Roboto', sans-serif ;
    color: #757575;
    }
img { display: block;}

button{ cursor: pointer;
    font-family: inherit; 
}

h1,
h2,
h3,
p{
margin-top: 0;
margin-bottom: 0;
}
ul,
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
}
.list { 
    list-style: none;}

.page1{
    background-color: #FFFFFF;
}
.logo {
 font-family: 'Raleway' , sans-serif ;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;

letter-spacing: 0.03em;

color: var(--accent-color);

 color:var(--accent-color);}

.logo-header {
    color: #212121;
    

}
.container{
    width: 1200px; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right:15px;
}

.index.html{
color: var(--accent-color);
}

.menu-link{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}
.contact-mail-numbre,
.contact-phone-numbre
{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;

}


.contact-mail-numbre:hover,
.contact-mail-numbre:focus,
.contact-phone-numbre:hover,
.contact-phone-numbre:focus,
.menu-link:hover,
.menu-link :focus{
 color: var(--accent-color);
}
.decision{ background-color: #2F303A;}


.number{
background-color:#F5F5F5;
}
.but{
background: #F5F4FA;
border-radius: 4px;
}
.but:hover,
.but:focus{
background-color: var(--accent-color);
color:#FFFFFF;
}
.text{
    background-color:#F5F5F5 ;
}

.spheres{
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: #212121;
}
.dodatok{
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;


}
.logo-2{
    background-color: #2F303A;

}
.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: var(--accent-color);
     
    }
.logo-header-2{
    color: #FFFFFF;
}
.location {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
     
}
.contact-mail{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;


letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}
.contact-phone{ 
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71; 
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}