:root{
    --primary-font:'Roboto', sans-serif ;
    --second-font: 'Raleway' , sans-serif ;
    --accent-color: #2196F3;
}
body{font-family: 'Raleway' , sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em
    
}
img { display: block;}
button{ cursor: pointer;
    font-family: inherit; 
}

.link {
    text-decoration: none;
}
.list { 
    list-style: none;}

.page-header{
    background-color: #FFFFFF;
}
.logo {
 color:var(--accent-color);}

.logo-header {
    color: #212121;
    

}

.index.html{
color: var(--accent-color);
}

.menu-link{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}
.contact-mail-numbre,
.contact-phone-numbre
{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: #757575;


}


.contact-mail-numbre:hover,
.contact-mail-numbre:focus,
.contact-phone-numbre:hover,
.contact-phone-numbre:focus,
.menu-link:hover,
.menu-link :focus{
 color: var(--accent-color);
}
.decision{ background-color: #2F303A;}


.foto {
    
}
.name {
font-family:var(--primary-font);
font-weight: 500;
font-size: 16px;
line-height: 1.18;

text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.professio{
font-family:var(--primary-font);
font-weight: 400;
font-size: 16px;
line-height: 1.18;

text-align: center;
letter-spacing: 0.03em;

color: #757575;
}

.number{
    background-color:#F5F5F5;
}
.but{
    background: #F5F4FA;
border-radius: 4px;
}
.but:hover,
.but:focus{
    background-color: var(--accent-color);
}
.spheres{
font-family:var(--primary-font);
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: #212121;
}
.dodatok{
font-family: var(--primary-font);
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: #757575;

}
.logo-2{ background-color: #2F303A;}
.logo-header-2{
    color: #FFFFFF;
}
.location {
    font-family:var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
     
}
.contact-mail{
font-family: var(--primary-font);
font-weight: 400;
font-size: 14px;
line-height: 1.71;


letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}
.contact-phone{
    font-family:var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71; 
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}