:root{
    --primary-font:'Roboto', sans-serif ;
    --second-font: 'Raleway' , sans-serif ;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --primary-gray-color: #212121;
    --primary-link-color: #2F303A;
    --primary-text-color: #757575;
    --primary-fon-color: #F5F5F5;
    --primary-fon2-color:#F5F4FA;
    --primary-bottom-color: rgba(255, 255, 255, 0.6);
}
body{font-family: 'Roboto', sans-serif ;
    font-size: 14px;
    color: #757575;
    }
img { display: block;}

button{ cursor: pointer;
    font-family: inherit; 
}

h1,
h2,
h3,
p{
margin-top: 0;
margin-bottom: 0;
}
ul,
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
}
.list { 
    list-style: none;}

.page1{
    background-color: var(--primary-white-color);
}
.logo {
 font-family: 'Raleway' , sans-serif ;
font-weight: 700;
font-size: 26px;
line-height: 1.19;

letter-spacing: 0.03em;

color: var(--accent-color);

 color:var(--accent-color);}

.logo-header {
    color: var(--primary-gray-color);
    

}
.container{
    width: 1200px; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right:15px;
}

.index.html{
color: var(--accent-color);
}
.menu-link-1{
    color: var(--accent-color);
}
.menu-link{
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-gray-color);
}
.contact-mail-numbre,
.contact-phone-numbre
{
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--primary-text-color);

}


.contact-mail-numbre:hover,
.contact-mail-numbre:focus,
.contact-phone-numbre:hover,
.contact-phone-numbre:focus,
.menu-link:hover,
.menu-link :focus{
 color: var(--accent-color);
}
.decision{ background-color: var(--primary-link-color);}


.number{
background-color:var(--primary-fon-color);
}
.but{
font-weight: 500;
font-size: 1.625;
line-height: 26px;
/* identical to box height, or 162% */

text-align: center;
letter-spacing: 0.03em;

color: var(--primary-gray-color);

background: var(--primary-fon2-color);
border-radius: 4px;

}
.but:hover,
.but:focus{
background-color: var(--accent-color);
color:var(--primary-white-color);
}
.text{
    background-color:var(--primary-fon-color) ;
}

.spheres{
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: var(--primary-gray-color);
}
.dodatok{
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;


}
.logo-2{
    background-color:var(--primary-link-color);

}
.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: var(--accent-color);
     
    }
.logo-header-2{
    color: var(--primary-white-color);
}
.location {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
     letter-spacing: 0.03em;
    color: var(--primary-white-color);
     
}
.contact-mail{
font-style: normal;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primary-bottom-color);
}
.contact-phone{ 
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; 
    letter-spacing: 0.03em;
    color: var(--primary-bottom-color);

}